<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label>name</label>
        <input type="text" name="name"/></br></br>
        <label>m1</label>
        <input type="number" name="m1"/></br></br>
        <label>physics</label>
        <input type="number" name="phy"/></br></br>
        <label>p&s</label>
        <input type="number" name="ps"/></br>
        <button>submit</button>
    </form>
</body>
</html>